Advent2/bin/
Advent2/obj/
Advent3/obj/
Advent4/bin/
Advent4/obj/Advent4.csproj.nuget.cache
Advent4/obj/
AdventOfCode/bin/
AdventOfCode/obj/
Advent3/bin/
Advent5/bin/
Advent5/obj/
Advent6/bin/
Advent6/obj/Advent6.csproj.nuget.dgspec.json
Advent6/obj/
Advent7/bin/
Advent7/obj/
Advent8/obj/
Advent8/bin/
